$phone: "screen and (min-width : 0px) and (max-width : 380px)";
$tablet: "screen and (min-width : 599px) and (max-width : 900px)";
$laptop: "screen and (min-width : 901px) and (max-width : 1400px)";
$lg-phone: "screen and (min-width : 360px) and (max-width : 598px)";
$laptop-up: "screen and (min-width : 901px)";
$phones: "screen and (min-width : 0px) and (max-width : 601px)";
$tablet-up: "screen and (min-width : 600px)";
